# Exclude your local Python installation folder
python/
bin/


# Exclude the virtual environment folder
.venv/
venv/ 

# Exclude standard IDE and OS junk
__pycache__/
.vscode/
.DS_Store
*.pyc
.png
.jpg
.webp
